@(countries: List[Country], countryForm: Form[Country])
@import helper._

@main("Country data") {
    
    <h1>@countries.size() countries</h1>
    
    <ul>
        @for(country <- countries) {
            <li>
                @country.id
                
                @form(routes.Application.deleteCountry(country.id)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    
    <h2>Add a new country</h2>
    
    @form(routes.Application.newCountry()) {
        
        @inputText(countryForm("id")) 
        
        <input type="submit" value="Create">
        
    }
    
}